@model MovieMVC.Model.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Category List";
}


<br />

<br />
<div  class="p-4 border rounded" style="background-color:aliceblue;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Category List </h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Category</a>
        </div>
    </div>

    <br />

    <div>
        @if (Model.Categories.Count() > 0)
        {
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Category Name</th>
                    <th></th>
                </tr>
                </thead>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            <div class="text-center">
                                <a href="/Admin/Category/Upsert/@item.Id" class="btn btn-success text-white" style="cursor:pointer">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button onclick=Delete("/Admin/Category/Delete/@item.Id") class="btn btn-danger text-white" style="cursor:pointer">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
        </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border" page-class-normal="btn btn-light"
                 page-class-selected="btn btn-info active" class="btn-group float-right"> </div>
            <br>
            <br>
        }
        else
        {
            <p>No Categories Available</p>
        }
    </div>

</div>

@section Scripts{
    <script>

        function Delete(url) {
            $.ajax({
                type: 'DELETE',
                url: url,
                success: function (data) {
                    location.reload()
                }
            })
        }
    </script>
}